<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>The reading face of Charasite !</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="entire_page">
  <header>
	<!-- bannière ? -->
	
	<section class = "userid">
	  
	  <ul>
	  {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
	    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
	  {% else %}
	    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
		<li><a href="#">Sign in</a></li>
	  {% endif %}
	  
	</section>
	
  </header>
  
  <nav>
    
	<!-- La barre de navigation
         Peut être faut-il l'inclure dans une section ?	-->
	
	{% block navigation%}
    <ul>
	  <li><a href="{% url 'index' %}">Home</a></li>
	  <li><a href="{% url 'books' %}">All books</a></li>
	  <li><a href="{% url 'projects' %}">All projects</a></li>
	  <li><a href="">All authors</a></li>
	  
	</ul>
	{% endblock%}
  </nav>
  
  <div class="main_page">

      
      <div class="content_block">
        {% block content %}{% endblock %}
      
        {% block pagination %}
        {% if is_paginated %}
        <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
        </div>
        {% endif %}
        {% endblock %}
		
		{% block comments %}
		{% endblock %}
      
      </div>
	  
	  <div class="sidebar_objects">
        {% block sidebar %}
		<div class="sidebar_chapter">
		  {% block side_chapter %}
		  <!--Put a sidebar for the chapter (i.e. author, title, don etc...)
		  <ul>
		    <li><a href="table of contents">Title</a></li>
			<li><a href="other project">Author</a></li>
			<li><a href="don">Help the team</a></li>
		  </ul>
		  -->
		  {% endblock %}
		</div>
		
		<div class="sidebar_list_project">
		  {% block side_list_chapter %}
		    <h1><a href="{% url 'projects' %}">Novels</a></h1>
			
			<ul>
			{% for project in listproj %}
			  <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
			{% empty %}
			  <li>Sorry, no novels available in your country</li>
			{% endfor %}
			</ul>
			
		  {% endblock %}
		</div>
		
		<div class="sidebar_list_new_chapter">
		  {% block side_list_new_chapter %}
		    
			<h1>Last Chapters</h1>
			
			<ul>
			  {% for chapter in listnewchap %}
			    <li><a href="{{ chapter.get_absolute_url }}">{{ chapter.project.name }} {{ chapter.number }}: {{ chapter.title }}</a></li>
			  {% empty %}
			    <li>Sorry, no new chapters available in your country</li>
			  {% endfor %}
			
			
			</ul>
			
		  {% endblock %}
		</div>
		
		<div class="social_media">
		  <h1>Social medias</h1>
		  <p>Follow us on social media !</p>
		</div>
		
		<div class="sidebar_nav_bar">
			<ul class="sidebar-nav">
			  <li><a href="{% url 'index' %}">Home</a></li>
			  <li><a href="{% url 'books' %}">All books</a></li>
			  <li><a href="#">All authors</a></li>
			  
			  {% if user.is_authenticated %}
				<li>User: {{ user.get_username }}</li>
				<li><a href="{% url 'my_borrowed' %}">My Borrowed</a></li>
				<li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
			  {% else %}
				 <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
			  {% endif %} 
			</ul>
		</div>
      {% endblock %}
      </div>
  </div>
  
  <footer>
    <div class="test_footer">
	  <h1>Test</h1>
	  <p>Juste un test</p>
	</div>
	<!-- Pied de page -->
  </footer>
  
  </div>
</body>
</html>