header
{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}


header ul
{
    list-style-type: none;
	border: 3px #23F554 solid;
	border-radius: 0px 0px 10px 10px;
	background-color: #23F554;
	padding:0px;
	margin: 0px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}


header li
{
    margin-right: 15px;
	margin-left: 15px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}


nav li
{
    margin-right: 15px;
}


body
{
	background: url('image/galaxy.png');
	background-attachment: fixed;
}


.sidebar_objects h1
{
	border: 3px #23F554 solid;
	border-bottom: 0px;
	border-radius: 10px 10px 0px 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	color: #181818;
	background-color: #23F554;
	font-size: 22pt;
}

.sidebar_objects ul, .sidebar_objects p
{
	list-style-type: none;
	border: 3px #23F554 solid;
	margin-bottom: 10px;
	padding: 15px;
	padding-left: 20px;
	background-color: #FFFFFF;
	opacity: 0.9;
}

.entire_page
{
	width: 80%;
	min-width: 500px;
	margin: auto;
}

.main_page
{
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.content_block
{
	width: 75%;
	border: 5px #23F554 solid;
	padding: 15px;
	border-radius: 10px 10px 0px 0px;
	background-color: #FFFFFF;
	opacity: 0.9;
	margin-right: 10px; 
}

nav
{
	border: 3px #23F554 solid;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 10px;
	font-size: 16pt;
	background-color:  #23F554;
}

nav li
{
	padding: 5px;
	padding-left: 10px;
	margin: 0;
}

nav ul
{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
}
nav a, h1 a
{
	color: #181818;
}