{% extends "base_generic_readingspace_wcom.html" %}

{% block content %}
    <h1>Articles</h1>

    {% if article_list %}
    <ul>

      {% for article in article_list %}
      <li>
        <h1><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h1>
		<p>by {{article.writer}}</p>
		<p class="trunc_article">{{ article.content|linebreaksbr|truncatewords:32 }}</p>		
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no articles published yet.</p>
    {% endif %}       
{% endblock %}