{% extends "base_generic_readingspace_wcom.html" %}

{% block content %}


  <a href="createchapter">Post a new chapter</a>
  <h1>Name: {{ project.name }}</h1>

  <p><strong>Owner:</strong> <a href="">{{ project.owner }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ project.description }}</p>
  <p><strong>Date of release:</strong> {{ project.date_start }}</p>  
  <p><strong>Genre:</strong> {% for genre in project.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  

  <div style="margin-left:20px;margin-top:20px">
    <h2>Chapters</h2>
		
		<ul>
		{% for chapter in list_chapter %}
			
			<li><a href="{{ chapter.get_absolute_url }}">Chapter {{ chapter.number }}: {{ chapter.title }}</a></li>
		
		{% endfor %}
		</ul>
  </div>
{% endblock %}